body {
  padding: 15px 5px;
  text-align: center;
}
#btn {
  width: 150px;
  height: 50px;
  margin: auto;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pc {
  display: flex;
  flex-direction: column;
}
#pc-hand {
  height: 225px;
  width: 225px;
}
#my-hand {
  height: 225px;
  width: 225px;
}
.vs {
  display: flex;
  align-items: center;
  font-size: 50px;
}
